.dsc1{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
}
.dec2{
    font-weight: 500;
    font-size: 14px;
}
.custom_btn{
    transition: all 0.4s ease-in-out;
    font-family: "Russo One", sans-serif;
    background: #a3ff12;
    color: #090a1a;
    padding: 10px 10px;
}